@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
}

a {
  color: #e09160;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #e09160;
}
a:focus, a:active {
  outline: none;
}

p, span {
  margin-bottom: 1.5em;
  font-size: 20px;
  color: #727272;
  font-weight: 300;
  font-family: "Roboto", Arial, serif;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #f56f8d;
}

::-moz-selection {
  color: #fcfcfc;
  background: #f56f8d;
}

::selection {
  color: #fcfcfc;
  background: #f56f8d;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #e09160;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #e09160;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.heading-section {
  margin-bottom: 5em;
}
.heading-section h2 {
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.heading-section h2:before {
  position: absolute;
  content: '';
  top: -15px;
  left: 50%;
  margin-left: -15px;
  width: 20px;
  height: 3px;
  background: #e09160;
}

header, #bwu-intro-section, #bwu-services-section, #bwu-featured-work-section,
#bwu-common-section, #bwu-blog-section, #footer, #bwu-contact-section,
#bwu-work-section {
  padding-bottom: 3em;
}

header {
  padding-top: 3em;
}
header .bwu-navbar-brand {
  padding-bottom: 3em;
}
header .bwu-navbar-brand .bwu-logo {
  position: relative;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
header .bwu-navbar-brand .bwu-logo:after {
  position: absolute;
  bottom: 13px;
  right: -14px;
  width: 12px;
  height: 12px;
  background: #e09160;
  content: '';
}
header .bwu-navbar-brand .bwu-logo:hover {
  text-decoration: none;
}
header #bwu-main-nav > ul {
  padding: 0;
  margin: 0;
}
header #bwu-main-nav > ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  header #bwu-main-nav > ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
header #bwu-main-nav > ul li a {
  padding-bottom: 5px;
  color: #000;
  position: relative;
  font-weight: 400;
}
header #bwu-main-nav > ul li a.active:before {
  position: absolute;
  width: 7px;
  height: 7px;
  content: '';
  top: -5px;
  right: -7px;
  background: #e09160;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
header #bwu-main-nav > ul li a:hover, header #bwu-main-nav > ul li a:focus {
  text-decoration: none;
  color: #000;
}
header #bwu-main-nav > ul li:first-child {
  margin-left: 0;
}

#bwu-intro-section h2 {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  #bwu-intro-section h2 {
    font-size: 30px;
  }
}

.owl-carousel {
  margin-bottom: 5em;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.bwu-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.bwu-light-arrow .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: #fff;
}
.owl-carousel-fullwidth.bwu-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.bwu-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

.owl-carousel .owl-controls .owl-nav .owl-next i,
.owl-carousel .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.3);
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i {
  color: rgba(0, 0, 0, 0.6);
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel .owl-dots {
  display: none !important;
}
@media screen and (max-width: 992px) {
  .owl-carousel .owl-dots {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.item {
  position: relative;
}
.item .pop-up-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 56, 97, 0.8);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.item .pop-up-overlay.pop-up-overlay-color-2 {
  background: rgba(248, 125, 9, 0.8) !important;
}
.item .pop-up-overlay.pop-up-overlay-color-3 {
  background: rgba(23, 231, 164, 0.8) !important;
}
.item .pop-up-overlay.pop-up-overlay-color-4 {
  background: rgba(249, 197, 53, 0.8) !important;
}
.item .pop-up-overlay .desc {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: -60px;
  padding: 30px;
}
.item .pop-up-overlay .desc h3 {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
.item .pop-up-overlay .desc span {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.item .pop-up-overlay:hover, .item .pop-up-overlay:focus {
  text-decoration: none;
}
.item:hover .pop-up-overlay, .item:focus .pop-up-overlay {
  opacity: 1;
}


.bwu-table,
.bwu-table-cell,
.bwu-hero,
.bwu-parallax {
  height: 500px;
}

.bwu-hero, .bwu-parallax {
  background-color: #555;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-bottom: 7em;
}
.bwu-hero .overlay, .bwu-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .2;
}
.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .bwu-hero, .bwu-parallax {
    height: inherit;
    padding: 4em 0;
  }
}
.bwu-hero .bwu-intro h1, .bwu-parallax .bwu-intro h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .bwu-hero .bwu-intro h1, .bwu-parallax .bwu-intro h1 {
    font-size: 30px;
  }
}
.bwu-hero .bwu-intro p, .bwu-parallax .bwu-intro p {
  color: #fff;
  font-size:10px;
}
.bwu-hero .bwu-intro p a, .bwu-parallax .bwu-intro p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.bwu-hero .bwu-intro p a:hover, .bwu-parallax .bwu-intro p a:hover {
  color: #fff;
}

.bwu-table {
  display: table;
}

.bwu-table-cell {
  display: table-cell;
  vertical-align: middle;
}


.fhco-hero2 {
  margin-bottom: 40px;
}
.fhco-hero2 img {
  margin-top: -50px;
}
@media screen and (max-width: 992px) {
  .fhco-hero2 {
    display: none;
  }
}

.bwu-services {
  position: relative;
  margin-bottom: 40px;
}
.bwu-services .holder-section {
  padding-left: 100px;
}
.bwu-services .holder-section h3 {
  margin-bottom: 8px;
  font-weight: 400;
  font-weight: 20px;
}
.bwu-services .bwu-table2 {
  display: table;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: #e09160;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.bwu-services .bwu-table-cell2 {
  display: table-cell;
  vertical-align: middle;
}
.bwu-services .bwu-table-cell2 i {
  display: block;
  color: #fff;
  font-size: 32px;
}

.bwu-services-right {
  margin-bottom: 40px;
  position: relative;
  text-align: right;
}
.bwu-services-right .holder-section {
  padding-right: 100px;
}
.bwu-services-right .holder-section h3 {
  margin-bottom: 8px;
  font-weight: 400;
  font-weight: 20px;
}
.bwu-services-right .bwu-table2 {
  display: table;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffc0da;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.bwu-services-right .bwu-table-cell2 {
  display: table-cell;
  vertical-align: middle;
}
.bwu-services-right .bwu-table-cell2 i {
  display: block;
  color: #fff;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .bwu-services-right {
    margin-bottom: 0;
    text-align: left;
  }
  .bwu-services-right .holder-section {
    padding-right: 0;
    padding-left: 100px;
  }
  .bwu-services-right .bwu-table2 {
    left: 0;
  }
}

.bwu-table2-color-2 {
  background: rgb(251, 180, 114) !important;
}

.bwu-table2-color-3 {
  background: rgb(162, 234, 211) !important;
}

.bwu-table2-color-4 {
  background: rgb(255, 226, 146) !important;
}

.bwu-table2-color-5 {
  background: rgb(180, 206, 255) !important;
}

.bwu-table2-color-6 {
  background: rgb(255, 159, 159) !important;
}


.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #e09160;
}
.contact-info li a {
  color: #e09160;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 5em;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

#footer p {
  font-size: 16px;
}
#footer p:last-child {
  margin-bottom: 0;
}
#footer p.bwu-social-icons a:hover, #footer p.bwu-social-icons a:focus {
  text-decoration: none !important;
}
#footer p.bwu-social-icons i {
  font-size: 32px;
}

.js .animate-box {
  opacity: 0;
}